body {
    background-color: black;
}

#clock {
    max-width: 100px;
    font-size: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#clock span {
    padding: 0.1rem;
    letter-spacing: 0.2em;
}
